# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Environnements virtuels
venv/
venv_app/
env/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.lof
*.lot

# Données volumineuses 
data/
*.tgz
*.tar.gz
lfw/

# Fichiers système
.DS_Store
Thumbs.db
*.tmp

# Outputs temporaires
output*.png
temp/